<div class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="locations" routerLinkActive="active">Locations</a>

  </div>
  <button class="btn btn-light float-right ml-auto" type="button" (click)="logout()">Logout</button>
</div>
