<div class="card-deck">
  <div *ngFor="let outlet of outletLocations">
    <div class="card cardWidth border-primary card-margin-top">
      <div class="card-img-top" style="height: 200px">
        <img src="https://loremflickr.com/280/200/restaurant?random={{outlet.id}}" class="w-100">
      </div>
      <div class="card-body">
        <h5 class="card-title"  style="text-transform: capitalize">
          {{outlet.display_name}}
        </h5>
        <div class="card-text multi_lines_text">
          {{outlet.getAddress()}}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary stretched-link" (click)="navigateToMenu(outlet.id)">Check Menu</button>
      </div>
    </div>
  </div>
</div>
