<div class="container h-100">
  <app-navbar *ngIf="loggedIn"></app-navbar>
  <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 10px">{{errorMessage}}</div>
  <div class="loader" *ngIf="showloader"></div>
  <router-outlet></router-outlet>
</div>
