<div class="row h-100 justify-content-center align-items-center border-primary">
  <form class="col-4" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">User Login</div>
      <div class="card-body">

        <div class="form-group">
          <label for="user_name">Username</label>
          <input id="user_name" type="email" class="form-control" name="user_name" required email
                 [(ngModel)]="loginModel['user_name']" #username="ngModel"
                 [class.is-invalid] = "username.invalid && username.touched" placeholder="arun+icecream@unoapp.com">
          <span class="text-danger" *ngIf="username.errors?.required && username.touched">This is a required field</span>
          <span class="text-danger" *ngIf="username.errors?.email && username.touched">Please enter valid email here</span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" required name="password"
                 [(ngModel)]="loginModel['password']" #pass="ngModel"
                 [class.is-invalid]="pass.touched && pass.invalid">
          <span class="text-danger" *ngIf="pass.errors?.required && pass.touched">This is a required Field</span>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || loading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
          Login
        </button>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger text-wrap">{{error}}</div>
  </form>
</div>
