<div *ngFor="let category of categories">
  <!--<h2 class="text-primary text-center">
    {{category.name}}
  </h2>-->

  <h2 class="alert alert-info">{{category.name}}</h2>
  <div *ngFor="let item of category.categories[0].items">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-1">
          <img src="https://loremflickr.com/280/200/food?random={{item.name}}" class="card-img imageSize">
        </div>
        <div class="col-md-11">
          <div class="card-body">
            <h5 class="card-title">
              {{item.name}}
              <small class="text-muted float-right ml-auto">{{item.price}}</small>
            </h5>
            <p class="card-text">{{item.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
